<footer id="footer">
  <div>
     <div>
        <div class="left_side">
           <div class="links">
              <ul>
                 <li> 
                    <a routerLink='/'>Statistik məlumatlar</a>
                 </li>
                 <li> 
                    <a routerLink='/'>Normativ-hüquqi sənədlər</a>
                 </li>
                 <li> 
                    <a routerLink='/'>Ödəniş alətləri</a>
                 </li>
                 <li> 
                    <a routerLink='/'>Saytın xəritəsi</a>
                 </li>
              </ul>
           </div>
           <div class="mobile_apps">
              <ul>
                 <li><a href="https://play.google.com/store/apps/details?id=www.gpp.az">
                    <img src="assets/img/googleplay_icon.svg">
                    </a>
                 </li>
                 <li><a href="https://itunes.apple.com/app/id997640011">
                    <img src="assets/img/appstore_icon.svg">
                    </a>
                 </li>
                 <!-- <li><a href="#">
                    <img src="assets/img/windowsstore_icon.svg"/>
                    </a></li> -->
              </ul>
           </div>
        </div>
        <div class="right_side">
           <div class="azerbaycan">
              <a id="cbaLink" href="http://www.cbar.az" target="_blank">
              <img src="assets/img/emblem_of_azerbaijan.svg">
              <span>Azərbaycan Respublikasının <br>Mərkəzi Bankı</span>
              </a>
           </div>
           <div class="address">
              <p>AZ 1014, Bakı şəhəri, Rəşid Behbudov küç. 90 <br>Bütün hüquqlar qorunur © 2018</p>
           </div>
        </div>
     </div>
  </div>
</footer>