<header id="header">
    <div>
       <h1 class="logo"><a routerLink="/" ></a></h1>
       <div class="header_func">
          <div class="sign_in">
             <a href="#"><span>Portala giriş</span></a> 
          </div>
          <div class="help">
             <a href="#" class="link" commandname="Infosite/FAQ">Kömək</a> 
          </div>
          <app-root-header-currency></app-root-header-currency>          
       </div>
       <app-root-header-language></app-root-header-language>
    </div>
    <a href="#" class="toggler"><em></em></a> <!-- mobile version -->
</header>
<div class="darkness"></div>
<div (click)="alerts()">fdsfdsf</div>
<app-header-login-modal></app-header-login-modal> 

<app-header-asideblock></app-header-asideblock>